@font-face {
  font-family: 'flexo';
  src: url("../font/Flexo-CapsDEMO-webfont.eot");
  src: url("../font/Flexo-CapsDEMO-webfont.eot?#iefix") format("embedded-opentype"), url("../font/Flexo-CapsDEMO-webfont.woff") format("woff"), url("../font/Flexo-CapsDEMO-webfont.ttf") format("truetype"), url("../font/Flexo-CapsDEMO-webfont.svg#FertigoProRegular") format("svg");
  font-weight: normal;
  font-style: normal; }

html {
  background: url("../images/sky2.jpg") no-repeat center center fixed #afbfd9;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  min-height: 100%;
  position: relative; }

body {
  position: static;
  display: block;
  width: auto;
  margin-right: auto;
  margin-left: auto;
  font-family: 'Open Sans', sans-serif;
  color: #333;
  font-size: 12px;
  background: transparent;
  margin-top: 100px;
  line-height: 25px; }
  body.inner {
    margin-top: 137px; }

a, button {
  color: inherit;
  text-decoration: none;
  -webkit-transition: all 200ms ease;
  -o-transition: all 200ms ease;
  transition: all 200ms ease; }
  a:hover, button:hover {
    opacity: 0.7; }

p {
  font-size: 16px; }

.bg-tomato {
  background: tomato; }

.bg-grey {
  background: grey; }

.bg-greyer {
  background: #999; }

.bg-sky {
  background: skyblue; }

.gisto {
  font-family: 'Open Sans', sans-serif;
  font-weight: 700; }

h1, h2, h3, h4, h5, h6 {
  font-family: 'flexo','Open Sans', sans-serif; }

h1 {
  margin: 30px 0px;
  font-size: 38px;
  line-height: 44px;
  font-weight: 100;
  text-align: center;
  text-shadow: 0px 1px 0px #FFF; }

h2 {
  margin: 10px 0px;
  font-size: 32px;
  line-height: 36px;
  font-weight: 100; }

h3 {
  margin: 10px 0px;
  font-size: 24px;
  line-height: 30px;
  font-weight: 100; }

h4 {
  margin: 10px 0px;
  font-size: 18px;
  line-height: 24px;
  font-weight: 100; }

h5 {
  margin: 10px 0px;
  font-size: 14px;
  line-height: 20px;
  font-weight: 100; }

h6 {
  margin: 10px 0px;
  font-size: 12px;
  line-height: 18px;
  font-weight: 100; }

.button, .btn {
  display: inline-block;
  padding: 4px 15px;
  background-color: tomato;
  color: white;
  text-align: center;
  text-decoration: none; }

button {
  border: none;
  padding: 7px 20px; }

.bg-tomato {
  background: tomato; }

.bg-grey {
  background: grey; }

.bg-greyer {
  background: #999; }

nav {
  margin: 0px auto 10px; }

.nav-link {
  padding: 0 10px;
  font-size: 16px;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 400; }
  .nav-link:hover {
    text-shadow: 1px 1px 1px white, 0px 1px 3px tomato;
    color: tomato; }

.nav-link-download {
  color: tomato; }

.nav-column {
  text-align: center; }

.link {
  background-color: #828282; }

.under-nav,
.under-nav p {
  padding: 10px 0px 0px 0px;
  font: normal 19px/28px 'open sans'; }

.hero-video {
  display: none; }

.video-run {
  cursor: pointer;
  position: relative;
  -webkit-transition: all 200ms ease;
  -o-transition: all 200ms ease;
  transition: all 200ms ease; }
  .video-run img {
    box-shadow: 0px 2px 3px #555;
    padding: 0;
    margin: 0; }
  .video-run i {
    text-align: center;
    top: 0;
    position: absolute;
    display: none !important;
    margin: 17% 25%;
    font-size: 62px;
    border: 4px solid #555;
    width: inherit;
    padding: 15px;
    border-radius: 10px; }
  .video-run:hover i {
    display: block !important;
    background: #fff;
    opacity: 1;
    box-shadow: 0px 0px 20px #000; }

.close-video {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 28px;
  color: #fff;
  background: tomato;
  padding: 5px 10px;
  opacity: 0.5; }
  .close-video:hover {
    opacity: 1; }

header {
  background: #fff;
  box-shadow: 0 0 5px #555;
  position: fixed;
  display: block;
  width: 100%;
  top: 0;
  z-index: 999;
  -webkit-transition: all 1s ease;
  -o-transition: all 1s ease;
  transition: all 1s ease; }
  header h1 {
    padding: 10px 0px;
    margin: 0;
    font-family: 'open sans';
    font-weight: 100; }

.boxes {
  margin: 30px 0; }

.box {
  padding: 10px;
  color: #fff;
  font-family: 'open sans';
  font-weight: 100;
  text-decoration: none; }
  .box:hover {
    background: #888888; }
  .box:hover i.pull-left {
    text-shadow: 0 0 10px #fff; }
  .box span {
    text-align: right;
    display: table-cell;
    line-height: 18px;
    width: 100%;
    padding: 0px 5px; }
    .box span i {
      font-size: small; }
  .box h3 {
    margin-top: 0; }

.txt-red {
  color: tomato; }

.txt-grey {
  color: #555; }

.txt-white {
  color: #fff; }

.uppercase {
  text-transform: uppercase; }

.whiter {
  background: #fff;
  box-shadow: 0 0 5px #555;
  padding: 50px 0; }
  .whiter h2 {
    text-align: center; }
  .whiter h3 {
    text-transform: uppercase;
    text-align: center; }

.the-who img {
  border-radius: 50%;
  border: 1px solid #333; }

.push,
footer {
  height: 150px; }

footer {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  padding: 20px 0; }
  footer img {
    border-radius: 50%;
    border: 1px solid #333; }
  footer > p {
    padding: 20px 0; }

.txt-right {
  text-align: right; }

.txt-left {
  text-align: left; }

.txt-center {
  text-align: center; }

.twitter:hover {
  background: #3cf; }

.gplus:hover {
  background: #d34836; }

.fb:hover {
  background: #3b5998; }

ul {
  list-style: none;
  font-size: 16px;
  padding: 0;
  line-height: 25px; }

.inner h2, .inner h3, .inner h4, .inner h5, .inner h6 {
  text-align: left; }
.inner .whiter p a {
  text-decoration: underline; }
  .inner .whiter p a:hover {
    color: tomato;
    opacity: 1; }
  .inner .whiter p a:active {
    color: #fff;
    background: tomato;
    border-radius: 3px;
    text-decoration: none; }
.inner nav ul {
  list-style: none;
  font-size: 16px;
  padding: 0; }
  .inner nav ul a {
    border: 1px solid #ccc;
    margin: 10px 0;
    display: block;
    border-radius: 3px;
    padding: 5px 10px; }
    .inner nav ul a:hover {
      background: tomato;
      border: 1px solid tomato;
      color: #fff; }

.inner .feat {
  margin: 0 0 50px 0; }

.feat {
  text-align: center; }
  .feat img {
    -webkit-transition: all 500ms ease;
    -o-transition: all 500ms ease;
    transition: all 500ms ease;
    border-radius: 50%;
    border: 1px solid #CCC;
    width: 90%; }
    .feat img:hover {
      border-radius: 3px;
      box-shadow: 0px 4px 10px #555;
      border: 1px solid #333; }
  .feat p {
    text-align: left; }
  .feat h3 {
    text-align: center; }

.icons-ul {
  margin-left: 0 !important;
  text-align: left; }
  .icons-ul i {
    color: tomato; }

.btn-center {
  margin: 20px auto 0;
  display: inline-block; }

.download {
  padding: 20px;
  border: 1px solid #fff; }
  .download h4 {
    text-align: center; }
  .download:hover {
    padding: 20px;
    border: 1px dashed #ccc;
    background: #f2f2f2;
    border-radius: 3px; }
    .download:hover i {
      text-shadow: 0px 0px 10px #fff; }
    .download:hover:active {
      background: skyblue; }

.center-holder {
  position: relative;
  text-align: center; }

pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
  border: 1px solid #ccc;
  padding: 10px;
  background: beige;
  font-family: monospace;
  position: relative;
  color: #555;
  font-size: 15px;
  border-radius: 3px;
  box-shadow: 0px 5px 10px #ccc inset; }
  pre span {
    position: absolute;
    display: block;
    background: #FFF;
    top: 0;
    right: 0;
    border-radius: 0px 3px;
    padding: 0px 5px;
    font-size: 10px;
    box-shadow: -2px 2px 5px #CCC;
    color: #999;
    transition: opacity 0.5s ease-in-out;
    -moz-transition: opacity 0.5s ease-in-out;
    -webkit-transition: opacity 0.5s ease-in-out; }
  pre:hover span {
    opacity: 0; }

.main p a, .main ul a {
  color: tomato; }
  .main p a:hover, .main ul a:hover {
    color: skyblue; }

a.top {
  background: #555;
  display: none;
  color: #FFF;
  position: fixed;
  bottom: 10px;
  right: 0;
  padding: 10px 10px;
  border-radius: 50% 0 0 50%;
  font-size: 20px; }

.hero-video {
  position: relative; }

.hero-video video {
  width: 100%; }

.features-boxes {
  margin-top: 0; }

/* Mediaqueries */
@media screen and (max-width: 479px) {
  html {
    background: url("../images/sky_mob.jpg") no-repeat top center fixed #afbfd9; }

  .w-col {
    text-align: center; }
    .w-col p {
      text-align: justify; }
    .w-col h1, .w-col h2, .w-col h3, .w-col h4, .w-col h5, .w-col h6 {
      text-align: center; }

  .under-nav .box h1, .under-nav .box h2, .under-nav .box h3, .under-nav .box h4, .under-nav .box h5, .under-nav .box h6,
  .content-container h1,
  .content-container h2,
  .content-container h3,
  .content-container h4,
  .content-container h5,
  .content-container h6 {
    text-align: left; }

  .side-container h1, .side-container h2, .side-container h3, .side-container h4, .side-container h5, .side-container h6 {
    text-align: center; }

  button {
    width: 60%;
    margin: 0px auto 10px; }

  .mobile-menu {
    background: #333;
    width: 64px;
    height: 64px;
    position: absolute;
    top: 0;
    text-align: center;
    line-height: 74px;
    color: #FFF; }
    .mobile-menu:active {
      opacity: 0.5; }

  .nav-column {
    text-align: center;
    display: none;
    margin: 10px 0px 0px 0px; }
    .nav-column .active {
      border-bottom: 3px solid;
      padding-bottom: 10px; }

  .nav-link {
    width: 99%;
    display: block;
    font-weight: 700;
    margin: 0 auto 10px;
    background: #CCC;
    padding: 10px 0 !important; }

  a.txt-center p, i, footer p {
    text-align: center !important; }

  .not-a-player {
    padding-bottom: 20px; }

  footer .w-col.w-col-1.w-clearfix {
    margin: 40px 0 0 0; }

  pre {
    text-align: left; }

  body {
    margin-top: 64px; }
    body.inner {
      margin-top: 100px; }

  .video-run i {
    text-align: center;
    top: 0;
    position: absolute;
    display: none !important;
    margin: 17% 25%;
    font-size: 62px;
    border: 4px solid #555;
    width: 50%;
    padding: 15px;
    border-radius: 10px; }

  .download h3 {
    text-align: center; } }
@media screen and (max-width: 767px) {
  footer {
    text-align: center; }
    footer h3 {
      text-align: center !important; } }
@media screen and (max-width: 991px) {
  .under-nav p {
    font-size: 15px !important; }

  footer {
    text-align: center; }
    footer h3 {
      text-align: center !important; }

  .video-run i {
    text-align: center;
    top: 0;
    position: absolute;
    display: none !important;
    margin: 17% 25%;
    font-size: 62px;
    border: 4px solid #555;
    width: 50%;
    padding: 15px;
    border-radius: 10px; } }
