@media screen and (max-width: 479px) {
  .w-col {
    text-align: center;
    & p {
      text-align: justify;
    }
    & h1, h2, h3, h4, h5, h6 {
      text-align: center;
    }
  }
  .boxes {
    & h1, h2, h3, h4, h5, h6 {
      text-align: left;
    }
  }
  button {
    width: 60%;
    margin: 0px auto 10px;
  }
  .mobile-menu {
    background: #333;
    width: 64px;
    height: 64px;
    position: absolute;
    top: 0;
    text-align: center;
    line-height: 74px;
    color: #FFF;
    &:active {
      opacity: 0.5;
    }
  }
  .nav-column {
    text-align: center;
    display: none;
  }
  .nav-link {
    width: 99%;
    display: block;
    font-weight: 700;
    margin: 0 auto 10px;
    background: #CCC;
    padding: 10px 0 !important;
  }

  a.txt-center p, i, footer p {
    text-align: center !important;
  }

  .not-a-player {
    padding-bottom: 20px;
  }

  footer .w-col.w-col-1.w-clearfix {
    margin:40px 0 0 0;
  }

  pre {
    text-align: left;
  }

}

@media screen and (max-width: 767px) {

}

@media screen and (max-width: 991px) {

}

html {
  //background: url(../images/sky.jpg) no-repeat center center fixed #f2f2f2;
  background: url('../images/orig2.jpg') no-repeat center center fixed #f2f2f2; /* http://xishan1.deviantart.com */
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  min-height: 100%;
  position: relative;
}

body {
  position: static;
  display: block;
  width: auto;
  margin-right: auto;
  margin-left: auto;
  font-family: 'Open Sans', sans-serif;
  color: #333;
  font-size: 12px;
  margin-top: 0;
  line-height: 25px;
}

a, button {
  color: inherit;
  text-decoration: none;
  -webkit-transition: all 200ms ease;
  -o-transition: all 200ms ease;
  transition: all 200ms ease;
  &:hover {
    opacity: 0.7;
  }
}

p {
  font-size: 16px;
}

.bg-tomato {
  background: tomato;
}

.bg-grey {
  background: grey;
}

.bg-greyer {
  background: #999;
}

.bg-sky {
  background: skyblue;
}

.gisto {
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
}

h1 {
  margin: 30px 0px;
  font-family: 'Open Sans', sans-serif;
  font-size: 38px;
  line-height: 44px;
  font-weight: 100;
  text-align: center;
  text-shadow: 0px 1px 0px #FFF;
}

h2 {
  margin: 10px 0px;
  font-size: 32px;
  line-height: 36px;
  font-weight: 100;
}

h3 {
  margin: 10px 0px;
  font-size: 24px;
  line-height: 30px;
  font-weight: 100;
}

h4 {
  margin: 10px 0px;
  font-size: 18px;
  line-height: 24px;
  font-weight: 100;
}

h5 {
  margin: 10px 0px;
  font-size: 14px;
  line-height: 20px;
  font-weight: 100;
}

h6 {
  margin: 10px 0px;
  font-size: 12px;
  line-height: 18px;
  font-weight: 100;
}

.button, .btn {
  display: inline-block;
  padding: 4px 15px;
  background-color: tomato;
  color: white;
  text-align: center;
  text-decoration: none;
}

button {
  border: none;
  padding: 7px 20px;
}

.bg-tomato {
  background: tomato;
}

.bg-grey {
  background: grey;
}

.bg-greyer {
  background: #999;
}

nav {
  margin: 30px auto;
}

.nav-link {
  padding: 0 10px;
  font-size: 16px;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 400;
  &:hover {
    text-shadow: 1px 1px 1px #fff, 0px 1px 3px tomato;
    color: tomato;
  }
}

.nav-link-download {
  color: tomato;
}

.nav-column {
  text-align: center;
}

.link {
  background-color: #828282;
}

.under-nav,
.under-nav p {
  padding: 10px 0px 10px 0px;
  font: normal 19px/28px 'open sans';

}

header {
  background: #fff;
  box-shadow: 0 0 5px #555;
  h1 {
    padding: 10px 0px;
    margin: 0;
  }
}

.boxes {
  margin: 30px 0;
}

.box {
  padding: 10px;
  color: #fff;
  font-family: 'open sans';
  font-weight: 100;
  text-decoration: none;
  &:hover {
    background: lighten(#555, 20%);
  }
  &:hover i.pull-left {
    text-shadow: 0 0 10px #fff;
  }
  span {
    text-align: right;
    display: inline-block;
    width: 100%;
    padding: 0px 5px;
  }
  h3 {
    margin-top: 0;
  }
}

.txt-red {
  color: tomato;
}

.txt-grey {
  color: #555;
}

.txt-white {
  color: #fff;
}

.uppercase {
  text-transform: uppercase;
}

.whiter {
  background: #fff;
  box-shadow: 0 0 5px #555;
  padding: 50px 0;
  & h2 {
    text-align: center;
  }
  & h3 {
    text-transform: uppercase;
    text-align: center;
  }
}

.the-who img {
  border-radius: 50%;
  border: 1px solid #333;
}

.push,
footer {
  height: 150px;
}

footer {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  padding: 20px 0;
  & img {
    border-radius: 50%;
    border: 1px solid #333;
  }
  & > p {
    padding: 20px 0;
  }
}

.txt-right {
  text-align: right;
}

.txt-left {
  text-align: left;
}

.txt-center {
  text-align: center;
}

.twitter:hover {
  background: #3cf;
}

.gplus:hover {
  background: #d34836;
}

.fb:hover {
  background: #3b5998;
}

ul {
  list-style: none;
  font-size: 16px;
  padding: 0;
  line-height: 25px;
}

.inner {
  & h2, h3, h4, h5, h6 {
    text-align: left;
  }
  & nav ul {
    list-style: none;
    font-size: 16px;
    padding: 0;
    & a {
      border: 1px solid #ccc;
      margin: 10px 0;
      display: block;
      border-radius: 3px;
      padding: 5px 10px;
      &:hover {
        background: tomato;
        border: 1px solid tomato;
        color: #fff;
      }
    }
  }
}

.inner .feat {
  margin: 0 0 50px 0;
}

.feat {
  text-align: center;
  & img {
    -webkit-transition: all 500ms ease;
    -o-transition: all 500ms ease;
    transition: all 500ms ease;
    border-radius: 50%;
    border: 1px solid #CCC;
    width: 90%;
    &:hover {
      border-radius: 3px;
      box-shadow: 0px 4px 10px #555;
      border: 1px solid #333;
    }
  }
  & p {
    text-align: left;
  }
  & h3 {
    text-align: center;
  }
}

.icons-ul {
  margin-left: 0 !important;
  & i {
    color: tomato;
  }
}

.btn-center {
  margin: 20px auto 0;
  display: inline-block;
}

.download {
  padding: 20px;
  border: 1px solid #fff;
  & h4 {
    text-align: center;
  }
  &:hover {
    padding: 20px;
    border: 1px dashed #ccc;
    background: #f2f2f2;
    border-radius: 3px;
    & i {
      text-shadow: 0px 0px 10px #fff;
    }
    &:active {
      background: skyblue;
    }
  }
}

.center-holder {
  position: relative;
  text-align: center;
}

pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
  border: 1px solid #ccc;
  padding: 10px;
  background: beige;
  font-family: monospace;
  position: relative;
  color: #555;
  font-size: 15px;
  border-radius: 3px;
  box-shadow: 0px 5px 10px #ccc inset;
  & span {
    position: absolute;
    display: block;
    background: #FFF;
    top: 0;
    right: 0;
    border-radius: 0px 3px;
    padding: 0px 5px;
    font-size: 10px;
    box-shadow: -2px 2px 5px #CCC;
    color: #999;
    transition: opacity 0.5s ease-in-out;
    -moz-transition: opacity 0.5s ease-in-out;
    -webkit-transition: opacity 0.5s ease-in-out;
  }
  &:hover span {
    opacity: 0;
  }
}

.main {
  & p a, ul a {
    color:tomato;
    &:hover {
      color:skyblue;
    }
  }
}

a.top {
  background: #555;
  display: none;
  color: #FFF;
  position: fixed;
  bottom: 10px;
  right: 0;
  padding: 0px 5px 0px 10px;
  border-radius: 50% 0 0 50%;
}