/* ============================== */
/* ! Layout for desktop version   */
/* ============================== */

body {

}


/* ============================= */
/* ! Layout for mobile version   */
/* ============================= */

@media handheld, only screen and (max-width: 767px) {

    .logo {
        text-align: center;
        display: block;
    }
    .links {
        display: block;
    }

}


/* ========================================== */
/* ! Provide higher res assets for iPhone 4   */
/* ========================================== */

@media only screen and (-webkit-min-device-pixel-ratio: 2) {

    .logo {
        text-align: center;
        display: block;
    }
    .links {
        display: block;
    }

}


/* ========================================== */
/* ! REGULAR STYLE                            */
/* ========================================== */


body {
    font-family: 'Roboto', serif,"Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 150%;
    color: #555;
}

a {
    text-decoration: none;
    color:#555;
}
a:hover {
    text-decoration: underline;
    color:#999;
}
header, .horizontal {
    background: #ccc;
    background: -webkit-linear-gradient(top, #F2F2F2, #D9D9D9 );
    text-shadow: 1px 1px 1px #FFF;
    text-shadow: 1px 1px 1px #FFF;
}

header .logo {
    font-size: 48px;
    line-height: 71px;
    text-decoration: none;
    color:#555;
}

header .logo h1 {
    font-size: 50px;
    font-weight: 700;
}

header .links {
    font-size: 28px;
    line-height: 71px;
    text-align: center;
    text-decoration: none;
    color:#555;
}
img {
    border: 3px solid #CCC;
    border-radius: 3px;
}
.hero,
.features {
    padding: 30px 10px;
    background: #8fbc8f;
    box-shadow: 0px 0px 20px #555 inset;
}

.hero h1,
.features h1 {
    color: #f2f2f2;
    font-weight: 400;
    text-shadow: 1px 1px 5px #555;
}

.hero p,
.features p {
    margin:20px 0px;
    font-weight: 100;
    color: #000;
}

.features {
    padding: 30px 10px;
    background: #c2d8ff;
    box-shadow: 0px 0px 20px #555 inset;
}

.features h1 {
    color: #555;
    margin: 0px 0px 10px;
    font-weight: 400;
    font-size: 28px;
    text-shadow: 1px 1px 1px #fff;
    text-transform: uppercase;
}

.features p {
    margin:20px 0px;
    font-weight: 100;
    color: #000;
    font-size: 18px;
}


.long {
    background: #CCC;
    padding-bottom: 16px;
}


.horizontal {
    padding: 10px 0;
    text-align: center;
    font-size: 28px;
}

.btn {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    text-decoration: none;
    color: #ffffff;
    padding: 10px 20px;
    background: -moz-linear-gradient(
        top,
        #ff2819 0%,
        #ab0000);
    background: -webkit-gradient(
        linear, left top, left bottom,
        from(#ff2819),
        to(#ab0000));
    -moz-border-radius: 7px;
    -webkit-border-radius: 7px;
    border-radius: 7px;
    border: 1px solid #7d0000;
    -moz-box-shadow:
        0px 1px 3px rgba(000,000,000,0.8),
        inset 0px 1px 0px rgba(255,255,255,0.8);
    -webkit-box-shadow:
        0px 1px 3px rgba(000,000,000,0.8),
        inset 0px 1px 0px rgba(255,255,255,0.8);
    box-shadow:
        0px 1px 3px rgba(000,000,000,0.8),
        inset 0px 1px 0px rgba(255,255,255,0.8);
    text-shadow:
        2px 2px 0px rgba(000,000,000,0.1),
        1px 1px 0px rgba(255,255,255,0.2);
}

.btn:hover {
    text-decoration: none;
    color:#ccc;
}

.lowercase {
    text-transform: capitalize
}

.features p a {
    color: #000;
    font-weight: 400;
    text-decoration: none;
}

.footer {
    background: #ffcac2;
    padding: 30px 10px;
    box-shadow: 0px 0px 20px #555 inset;
}

.footer h1 {
}

.footer p.light {
    font-weight: 100;
}

.horizontal-bottom {
    font-size: 20px;
    background: #ccc;
    background: -webkit-linear-gradient(top, #F2F2F2, #D9D9D9 );
    text-shadow: 1px 1px 1px #FFF;
    padding: 10px 0;
    text-align: center;
}

.contact {
    background: #f7ffc2;
    padding: 30px 10px;
    box-shadow: 0px 0px 20px #555 inset;
}