<section class="whiter boxes">

    <div class="w-container">

        <p class="txt-grey txt-center"><b>LATEST VERSION:</b>
            <span class="latest-release-version"></span> |
            <a href="https://github.com/Gisto/Gisto/blob/master/CHANGELOG.md" class="txt-red txt-underline">Change log</a>
            | <b>RELEASED:</b> <span class="published_at"></span></p>
        <br/>

        <div class="w-container">

            <div class="w-row">

                <div class="download w-col w-col-3 w-clearfix txt-center">
                    <p class="txt-center"><i class="fa fa-windows fa-4x"></i></p>

                    <h3><b>Windows</b><br/>Download</h3>
                    <span class="windows-downloads"></span>
                </div>

                <div class="download w-col w-col-3 w-clearfix txt-center">
                    <p class="txt-center"><i class="fa fa-apple fa-4x"></i></p>

                    <h3><b>macOS</b><br/>Download</h3>
                    <span class="mac-downloads"></span>
                </div>

                <div class="download w-col w-col-3 w-clearfix txt-center">
                    <p class="txt-center"><i class="fa fa-linux fa-4x"></i></p>

                    <h3><b>Linux</b><br/>Download</h3>
                    <span class="linux-downloads"></span>
                </div>

                <div class="download w-col w-col-3 w-clearfix txt-center">
                    <p class="txt-center"><i class="fa fa-cogs fa-4x"></i></p>

                    <h3>Latest<br/> <b>from Github</b></h3>
                    <a href="{{ site.nightly_url }}">GitHub releases</a>
                </div>

            </div>

            <div class="w-container">
                <div class="w-row">
                    <div class="w-col w-col-pull-1 w-col-push-3 w-col-6 ">
                        <h2>Other install options:</h2>

                        <p>via <b>Homebrew cask</b>:
                        <pre><span>SHELL</span>$ brew cask install gisto</pre>
                        <small>Please note that it might be slightly outdated version</small>
                        </p>
                        <!--<p>via <b>Archlinux AUR</b>:-->
                        <!--<pre><span>SHELL</span>$ yaourt -S gisto</pre>-->
                        <!--</p>-->
                        <!--<p>via <b>SlackBuilds.org (Slackware)</b>:-->
                        <!--<pre><span>SHELL</span># sbopkg -i gisto</pre>-->
                        <!--</p>-->

                    </div>
                </div>
            </div>

            <div class="w-row">

                <p class="txt-grey txt-center"><b>PREVIOUS VERSION:</b> 0.3.2</p>
                <br/>
                <div class="w-col w-col-12 w-clearfix txt-center">
                    <p>Development of this version is stopped at "v0.3.2" and it should be considered obsolete. No updates, features
                        or bugfixes will be issued.</p>
                </div>
                <div class="download w-col w-col-12 w-clearfix txt-center">
                    <a href="{{ site.download_url }}/download/0.3.2-beta/Gisto-v0.3.2-windows-x64.zip">
                        <i class="fa fa-windows"></i> Windows
                    </a>
                    <a href="{{ site.download_url }}/download/0.3.2-beta/Gisto-v0.3.2-macos-x64.dmg">
                        <i class="fa fa-apple"></i> MACOS
                    </a>
                    <a href="{{ site.download_url }}/download/0.3.2-beta/Gisto-v0.3.2-linux-win32.zip">
                        <i class="fa fa-linux"></i> Linux 32bit
                    </a>
                    <a href="{{ site.download_url }}/download/0.3.2-beta/Gisto-v0.3.2-linux-x64.zip">
                        <i class="fa fa-linux"></i> Linux 64bit
                    </a>
                </DIV>

            </div>


        </div>
    </div>
</section>
