<!DOCTYPE html>
<html id="top">
<head>
    <meta charset="utf-8">
    <title>{{ page.title }}</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <meta name="twitter:card" content="summary">
    <meta name="twitter:site" content="@gistoapp">
    <meta name="twitter:creator" content="@gistoapp">
    <meta name="twitter:title" content="Gisto - Manage your github gists on desktop">
    <meta name="twitter:description" content="Cross-platform gist snippets management desktop application that allows you and your team share code snippets fast and easily #gistoapp">
    <meta name="twitter:image" content="https://raw.githubusercontent.com/Gisto/Gisto/master/app/icon.png">
    <meta property="og:title" content="Gisto - Manage your github gists on desktop">
    <meta property="og:url" content="https://www.gistoapp.com">
    <meta property="og:image" content="https://raw.githubusercontent.com/Gisto/Gisto/master/app/icon.png">
    <meta property="og:site_name" content="Gistoapp">
    <meta property="og:description" content="Cross-platform gist snippets management desktop application that allows you and your team share code snippets fast and easily #gistoapp">


    {% include ga.html%}

  <link rel="stylesheet" type="text/css" href="/css/style.css">

</head>
<body class="is-page-{{page.page_name}} {% if page.page_name == 'home'%}home{% else %}inner{% endif %}">


<header class="section header">

    <div class="header">
        <h1><strong><a href="/">&lt;/Gisto&gt;</a></strong></h1>
    </div>

    <div class="w-container">
        <div class="w-row">
            <nav class="w-col w-col-12 w-clearfix nav-column">
                {% for link in site.navigation %}
                  {% assign state = '' %}
                  {% if page.page_name == link.url %}
                    {% assign state = 'active ' %}
                  {% endif %}
                  <a class="nav-link {{ state }} {% if forloop.first %}first{% endif %} {{ current }}"
                     href="{% if forloop.first %}/{% else %}/{{ link.url }}/{% endif %}">
                      {{ link.text }}
                  </a>
                {% endfor %}
            </nav>
        </div>
    </div>
</header>
