<a
  href="javascript:sharePost('http://twitter.com/share?url={{site.url}}{{page.url}}&amp;text={{page.title}} @gistoapp','Sahare {{page.title}} via Twitter',520,350);"
  class="btn bg-grey twitter txt-white"><i class="fa fa-twitter"></i></a>
<a
  href="javascript:sharePost('http://www.facebook.com/sharer.php?p[title]=Gisto&p[summary]={{page.title}}&p[url]={{site.url}}{{page.url}}{%if page.image %}&p[images][0]={{site.url}}{{page.image}}{% else %}{% endif %}','Sahare {{page.title}} via Facebook',520,350);"
  class="btn bg-grey fb txt-white"><i class="fa fa-facebook"></i></a>
<a
  href="javascript:sharePost('https://plus.google.com/share?url={{site.url}}{{page.url}}','Sahare {{page.title}} via Google+',520,350);"
  class="btn bg-grey gplus txt-white"><i class="fa fa-google-plus"></i></a>
<a href="mailto:?Subject=Gisto: {{page.title}}&amp;Body={{page.title}} at {{site.url}}{{page.url}}"
   class="btn bg-grey txt-white"><i class="fa fa-envelope"></i></a>
