---
layout: default
name: home
title: Gisto | Snippets made awesome | Manage your github gists on desktop
---

<section class="whiter boxes features-boxes">


    <div class="w-container">
        <div class="w-row">

            <div class="w-col w-col-4 w-clearfix feat">
                <img src="../images/themes.png"/>

                <h3>UI themes</h3>

                <p>Several UI themes available in dark and light flavors.</p>
                <p>Themes are not layout based, rather color shades of fonts and elements for now. This may change in the future.</p>
            </div>

            <div class="w-col w-col-4 w-clearfix feat">
                <img src="../images/search.png"/>

                <h3>Search</h3>

                <p>Gists can be filtered by search filter from within the application.
                    </p>
<p>
    Searching criteria may be gist's description, file name / extention, tag or by public/secret status of a gist.</p>
            </div>

            <div class="w-col w-col-4 w-clearfix feat">
                <img src="../images/tagging.png"/>

                <h3>Tags</h3>

                <p>Gisto allows to tag each gist with unlimited number of tags.
                </p>

                <p>Tags can be used for simply sorting gist snippets into groups for what makes it easy to search and
                    maintain.
                </p>
            </div>

        </div>
        <div class="center-holder">
            <a href="features/" class="btn bg-grey txt-white btn-center">
                All features <i class="icon-arrow-right"></i>
            </a>
        </div>
    </div>
</section>


<h1 id="about">About <span class="gisto">&lt;/Gisto&gt;</span></h1>

<section class="whiter boxes">

    <div class="w-container">
        <div class="w-row">

            <div class="w-col w-col-3 w-clearfix">
                <h3>The <b>what</b></h3>

                <p>Gisto is a cross platform. It can run on Windows, OSX and linux. It runs and acts exactly the same on each platform.</p>
            </div>

            <div class="w-col w-col-3 w-clearfix">
                <h3>The <b>why</b></h3>

                <p>Gisto started as an attempt to fulfill the lack of a syntax highlighted and cloud synchronized code
                    snippet solution.

                    You may think of Gisto as Evernote for code.</p>
            </div>

            <div class="w-col w-col-3 w-clearfix the-who">
                <h3>The <b>who</b></h3>

                <p>
                    Gisto is developed by a team of two web developers and uses web standard technologies such as HTML5
                    and JavaScript.
                </p>

            </div>

            <div class="w-col w-col-3 w-clearfix">
                <h3>The <b>how</b></h3>

                <p>Gisto made using HTML5/CSS3 it is built with Angular.js on top of Node.js runned by node-webkit.
                    Gisto also uses Angular UI, jQuery, Ace editor, showdown and Font-Awesome</p>
            </div>

        </div>
    </div>
</section>


<h1 id="download">Downloads</h1>
<section class="whiter boxes">

    <div class="w-container">

        <p class="txt-grey txt-center" href=""><b>CURRENT VERSION:</b>
            {% for v in site.releases %}
            {% if forloop.first %}
            {% assign current_version=v.version %}
            {{ current_version }}
            {% endif %}
            {% endfor %} - <b>RELESED:</b> {{ site.gisto_build_date }}</p>
        <br/>

        <div class="w-container">

            <div class="w-row">

                <a href="{{ site.download_url }}/Gisto-{{ current_version }}-Win_x86.zip"
                   class="download w-col w-col-3 w-clearfix txt-center">
                    <p><i class="icon-windows icon-4x"></i></p>

                    <h3>Windows<br/> <b>Download</b></h3>

                    <p>Packed with automatic installer.</p>
                </a>

                <a href="{{ site.download_url }}/Gisto-{{ current_version }}-OSX_x86.dmg"
                   class="download w-col w-col-3 w-clearfix txt-center">
                    <p class="txt-center"><i class="icon-apple icon-4x"></i></p>

                    <h3>OSX<br/> <b>Download</b></h3>

                    <p class="txt-center">Packed with automatic installer.</p>
                </a>

                <a href="{{ site.download_url }}/Gisto-{{ current_version }}-Linux_x86_64.tar.gz"
                   class="download w-col w-col-3 w-clearfix txt-center">
                    <p class="txt-center"><i class="icon-linux icon-4x"></i></p>

                    <h3>Linux 64bit<br/> <b>Download</b></h3>

                    <p class="txt-center">Packed with automatic installer via shell.</p>
                </a>

                <a href="{{ site.download_url }}/Gisto-{{ current_version }}-Linux_x86.tar.gz"
                   class="download w-col w-col-3 w-clearfix txt-center">
                    <p><i class="icon-linux icon-4x"></i></p>

                    <h3>Linux 32bit<br/> <b>Download</b></h3>

                    <p>Packed with automatic installer via shell.</p>
                </a>

            </div>
            <div class="center-holder">
                <a href="download/" class="btn bg-grey txt-white btn-center">
                    Mirrors and prev. versions <i class="icon-arrow-right"></i>
                </a>

                <a href="changelog/" class="btn bg-grey txt-white btn-center">
                    Change log
                </a>
            </div>
        </div>
    </div>
</section>