<div class="push"></div>
<footer>

    <div class="w-container">
        <div class="w-row">
            <div class="w-col w-col-1 w-clearfix">
                <img src="https://secure.gravatar.com/avatar/3a615b34ef2060face8fcd481c6377e1?s=80" alt="Maayan"/>
            </div>
            <div class="w-col w-col-5 w-clearfix">
                <h3>Maayan Glikser</h3>

                <p>
                    Software developer based in Israel <br/> <a target="_blank" href="http://www.glikm.com">www.glikm.com</a>
                    | <i class="icon-twitter"></i> <a target="_blank" href="https://twitter.com/MaayanGlikser">@MaayanGlikser</a>
                </p>
            </div>
            <div class="w-col w-col-1 w-clearfix">
                <img src="https://secure.gravatar.com/avatar/7ddad1a9a1c8de452badaf82b6c30c76?s=80" alt="Sasha"/>
            </div>
            <div class="w-col w-col-5 w-clearfix">
                <h3>Sasha Khamkov</h3>

                <p>
                    Web designer/developer from Israel <br/> <a target="_blank" href="http://www.sanusart.com">www.sanusart.com</a>
                    | <i class="icon-twitter"></i> <a target="_blank" href="https://twitter.com/sanusart">@sanusart</a>
                </p>
            </div>
        </div>
    </div>

    <p class="txt-center">&copy; 2013 Gisto</p>

</footer>

<a href="#top" class="top innsite"><i class="icon-arrow-up"></i></a>

</body>
</html>