<header class="container">
    <div class="row">
        <a href="/" class="fourcol logo">
            <h1>&lt;/Gisto&gt;</h1>
        </a>

        <a href="/#footer" class="twocol {% if page.menu == 'home' %}innsite{% endif %} links">
            About
        </a>

        <a href="/#features" class="twocol {% if page.menu == 'home' %}innsite{% endif %} links">
            Features
        </a>

        <a href="/docs/" class="twocol links">
            Docs
        </a>

        <a href="/#footer" class="twocol {% if page.menu == 'home' %}innsite{% endif %} links last">
            <span>Download</span>
        </a>


    </div>
</header>
