<!DOCTYPE html>
<html id="top">
<head>
    <meta charset="utf-8">
    <title>{{ page.title }}</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/g/normalize@3.0.0">
    <link rel="stylesheet" type="text/css" href="/css/webflow.css">
    <link rel="stylesheet" type="text/css" href="/css/gisto.css">
    <link rel="stylesheet" type="text/css" href="/css/font-awesome.min.css">

    {% include ga.html%}

</head>
<body class="{% if page.name == 'home'%}home{% else %}inner{% endif %}">


<header class="section header">

    <div class="header">
        <h1><strong>&lt;/Gisto&gt;</strong></h1>
    </div>

    <div class="w-container">
        <div class="w-row">
            <nav class="w-col w-col-12 w-clearfix nav-column">
                {% for link in site.navigation %}
                <a class="nav-link {% if forloop.first %}first{% endif %} {{ current }} {% if forloop.last %}nav-link-download{% endif %}"
                   href="{% if forloop.first %}/{% else %}{{ link.url }}{% endif %}" target="_self">
                    {{ link.text }}
                </a>
                {% endfor %}
            </nav>
        </div>
    </div>
</header>