<section class="">

    <div class="under-nav">
        <h1>Snippets Made Awesome</h1>

        <div class="w-container">
            <div class="w-row">
                <div class="w-col w-col-6 w-clearfix not-a-player">
                    <p>Gisto is a cross-platform gist snippets management desktop application that allows you
                        to manage and share your gists easily.
                        Gisto uses GitHub gists infrastructure which means all your existing gists
                        are accessible from both Gisto and GitHub gists website.
                    </p>
                    <a href="https://github.com/Gisto/Gisto" class="btn bg-grey txt-white"><i
                            class="icon-github"></i></a>
                    <a href="https://twitter.com/gistoapp" class="btn bg-grey twitter txt-white"><i
                            class="icon-twitter"></i></a>
                    <a href="#about" class="btn bg-grey txt-white innsite">Read more <i
                            class="icon-arrow-right"></i></a>
                </div>
                <!--
                <a class="w-col w-col-6 w-clearfix video-run">

                </a>
                -->
                <div class="w-col w-col-6 w-clearfix video-run">
                    <img class="" src="../images/theme.gif" width="100%">
                    <i class="icon-play-circle"></i>
                </div>

            </div>
        </div>

        <section class="boxes">
            <div class="w-container">
                <div class="w-row">
                    <a href="/features/" class="w-col w-col-4 w-clearfix box bg-grey txt-white uppercase">
                        <i class="icon-fire-extinguisher icon-4x pull-left"></i>

                        <h3>Features</h3>
                <span>
                    <i>List of features and new additions</i> <i class="icon-chevron-right"></i>
                </span>
                    </a>
                    <a href="#about" class="w-col w-col-4 w-clearfix box bg-greyer txt-white uppercase innsite">
                        <i class="icon-laptop icon-4x pull-left"></i>

                        <h3>Multi-platform</h3>
                <span>
                    <i>Available on Windows, Linux and OSX</i> <i class="icon-chevron-right"></i>
                </span>
                    </a>
                    <a href="#download" class="w-col w-col-4 w-clearfix box bg-tomato txt-white uppercase innsite">
                        <i class="icon-download-alt icon-4x pull-left"></i>

                        <h3>Download</h3>
                <span>
                    <i>Downloads, mirrors and prev. versions</i> <i class="icon-chevron-right"></i>
                </span>
                    </a>
                </div>
            </div>
        </section>

        <div class="social w-clearfix">

            <a href="https://twitter.com/share" class="twitter-share-button" data-via="gistoapp"
               data-hashtags="gistoapp">Tweet</a>
            <script>!function (d, s, id) {
                var js, fjs = d.getElementsByTagName(s)[0], p = /^http:/.test(d.location) ? 'http' : 'https';
                if (!d.getElementById(id)) {
                    js = d.createElement(s);
                    js.id = id;
                    js.src = p + '://platform.twitter.com/widgets.js';
                    fjs.parentNode.insertBefore(js, fjs);
                }
            }(document, 'script', 'twitter-wjs');</script>

            <!-- Place this tag where you want the +1 button to render. -->
            <div class="g-plusone" data-size="medium"></div>

            <!-- Place this tag after the last +1 button tag. -->
            <script type="text/javascript">
                (function () {
                    var po = document.createElement('script');
                    po.type = 'text/javascript';
                    po.async = true;
                    po.src = 'https://apis.google.com/js/platform.js';
                    var s = document.getElementsByTagName('script')[0];
                    s.parentNode.insertBefore(po, s);
                })();
            </script>

            <iframe src="http://ghbtns.com/github-btn.html?user=gisto&repo=gisto&type=fork&count=true"
                    allowtransparency="true" frameborder="0" scrolling="0" width="95" height="20"></iframe>

            <iframe src="http://ghbtns.com/github-btn.html?user=gisto&repo=gisto&type=watch&count=true"
                    allowtransparency="true" frameborder="0" scrolling="0" width="95" height="20"></iframe>

            <div id="fb-root"></div>
            <script>(function (d, s, id) {
                var js, fjs = d.getElementsByTagName(s)[0];
                if (d.getElementById(id)) return;
                js = d.createElement(s);
                js.id = id;
                js.src = "//connect.facebook.net/en_US/all.js#xfbml=1";
                fjs.parentNode.insertBefore(js, fjs);
            }(document, 'script', 'facebook-jssdk'));</script>
            <div class="fb-like" data-href="http://gistoapp.com" data-layout="button_count" data-action="like"
                 data-show-faces="false" data-share="true"></div>

        </div>

        <h1>Features</h1>

    </div>

    <div class="hero-video w-clearfix">
        <a class="close-video"><i class="icon-remove"></i></a>
        <!--        <a class="next-video"><i class="icon-forward"></i></a>
                <a class="prev-video"><i class="icon-backward"></i></a>-->
        <!-- We will add video later, screenshots for now -->
        <!--<video id="movie" preload>
            <source src="/video/gisto.webm" type="video/webm; codecs=vp8,vorbis" />
            <source src="/video/gisto.ogv" type="video/ogg; codecs=theora,vorbis" />
            <source src="/video/gisto.mp4" />
        </video>-->
        <div id="fader">
            <img src="/images/screenshots/3-gist-view.png">
            <img src="/images/screenshots/4-edit.png">
            <img src="/images/screenshots/5-ace-plugins-emmet.png">
            <img src="/images/screenshots/6-settings.png">
            <img src="/images/screenshots/7-search.png">
            <img src="/images/screenshots/8-browse-revisions.png">
            <img src="/images/screenshots/9-add-comment.png">
            <img src="/images/screenshots/10-view-comment.png">

        </div>
    </div>

</section>
