---
layout: post
---

{% include head.html %}

<section class="post">

    <h1>{{page.title}}</h1>

<section class="whiter boxes">


    <div class="w-container main content-container">
        <div class="w-row w-col">
            <h2>{{page.post_title}}</h2>

            <p>
                <i>by <b>{%if page.author %}{{ page.author }}{% else %}Gisto team{% endif %}</b> | {{ page.date | date: "%B %d, %Y" }}</i>
            </p>

            {%if page.image %}<img src="{{ page.image }}" alt="{{page.title}}" />{% else %}<!-- No image -->{% endif %}

            {{content}}

            <br />

            {% include social.html %}

        </div>


    </div>

</section>

<h3 class="post">Comments</h3>

<section class="whiter boxes">

    <div class="w-container main content-container">
        <div class="w-row w-col">

            {% include comments.html %}

    </div>
</section>

</section>

{% include footer.html %}
